/********** GENERAL *******/
html,
body,
#root,
.App {
  height: 100%;
}

body {
  background: rgb(0, 150, 136);
  background: linear-gradient(
    180deg,
    rgba(0, 150, 136, 1) 127px,
    rgba(215, 219, 214, 1) 127px,
    rgba(215, 219, 214, 1) 100%
  );
}

/** SIGNUP/IN PAGE **/
.sign-in-up {
  display: flex;
  flex-direction: column;
  background: #009688;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.sign-in-up > div:first-child {
  color: #b7fff0;
  font-size: 78px;
  font-weight: 700;
  margin-bottom: 36px;
  margin-top: -54px;
}

.sign-in-up > div:last-of-type {
  color: #ff8a8a;
  height: 20px;
  font-weight: 400;
  font-size: 16px;
  text-shadow: 0px 0px 3px #ff0000;
}

.sign-in-up label span {
  width: 168px;
  text-align: right;
}

.sign-in-up button {
  background: #96ede5;
  width: 180px;
  height: 52px;
  border: none;
  border-radius: 6px;
  margin-top: 40px;
}

.sign-in-up button:hover {
  background: hsl(174, 90%, 54%);
}

.sign-in-up button:active {
  background: hsl(173, 100%, 19%);
  color: white;
}

.sign-in-up label {
  margin: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 480px;
  color: #effaf0;
  font-size: 20px;
  align-content: center;
}

.sign-in-up label input {
  height: 44px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  min-width: 230px;
  padding-left: 16px;
  margin-left: 32px;
}

.sign-in-up a {
  padding-top: 20px;
  padding-bottom: 0;
  margin-bottom: -20px;
}

/**** CHAT PAGE ******/
.main-content-pane {
  display: flex;
  position: relative;
  margin: 0 auto;
  box-shadow: 0px 2px 8px 1px #999999;
  top: 19px;
  width: 1396px;
  height: calc(100% - 38px);
  background: #e5ddd5;
}

.chat-list-section {
  flex: 30%;
  background: white;
}

.chat-board-section {
  flex: 70%;
  display: flex;
  flex-direction: column;
}

.chat-messages-header {
  height: 59px;
  background: #ededed;
  padding-right: 40px;
  display: flex;
  border-left: 1px rgb(224, 224, 224) solid;
  padding-left: 4px;
}

.chat-messages-header-title {
  margin: 6px;
  padding-top: 4px;
}

.chat-messages-header-title div:nth-child(2) {
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
  width: 600px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-profile-image {
  margin: 15px;
  clip-path: circle(50% at 50% 50%);
  width: 50px;
  height: 50px;
  background: white;
}

.chat-messages {
  flex: 80%;
  position: relative;
  background-image: url("assets/bg.png");
  background-repeat: repeat;
  overflow-y: scroll;
  padding-bottom: 10px;
}

.chat-messages::after {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.chat-input > input {
  width: 94%;
}

.chat-input img{
  padding-top: 2px;
  cursor: pointer;
}

/****** HEADER ********/
.header {
  height: 59px;
  background: #ededed;
  padding-left: 20px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header>img:nth-child(1) {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.header div img {
  width: 24px;
  height: 24px;
  filter: invert(8%) sepia(9%) saturate(2476%) hue-rotate(147deg)
    brightness(105%) contrast(32%);
  opacity: 0.6;
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
}

.header div img:nth-child(2){
  width: 20px;
  height: 20px;
  opacity: 0.9;
  padding-bottom: 2px;
}

/****** CHAT SEARCH ******/
.search-bar {
  background: #f6f6f6;
  width: 100%;
  height: 49px;
  display: flex;
  justify-content: center;
}

.search-bar input {
  border-radius: 40px;
  border: none;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 14px;
  width: 90%;
}
.search-bar input:focus {
  border: none;
  outline: none;
}
/****** CHAT INPUT *******/
.chat-board-section input {
  border-radius: 40px;
  border: none;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 14px;
  width: 80%;
  height: 42px;
  margin-right: 20px;
  font-size: 15px;
}

.chat-board-section input:focus {
  border: none;
  outline: none;
}

.chat-board-section input::placeholder {
  color: #999999;
}
.chat-board-section img {
  width: 40px;
  height: 40px;
  margin: 10px;
}

/* .chat-board-section img:hover {
  width: 30px;
  filter: brightness(0.6);
} */

.chat-input {
  background: rgb(240, 240, 240);
  height: 62px;
  display: flex;
  justify-content: center;
}
/****** CHAT LIST ********/

/****** CHAT CARD ********/
.chat-list div,
.user-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  padding-right: 20px;
}

.chat-list div:hover,
.user-card:hover {
  background: #f5f5f5;
}

.chat-list div.active,
.user-card.active {
  background: #ebebeb;
}

.chat-list div.active div,
.user-card.active div {
  background: #ebebeb;
}

.chat-list div img,
.user-card img {
  border-radius: 50%;
  height: 49px;
  padding: 0 15px 0 13px;
}

.chat-list > div div:nth-child(2),
.user-card div:nth-child(2) {
  text-align: left;
  flex-grow: 1;
  font-family: "Segoe UI", "Helvetica";
  font-size: 17px;
  border-top: 1px rgb(242, 242, 242) solid;
}

.chat-list > div div:nth-child(3),
.user-card div:nth-child(3) {
  font-family: "Segoe UI", "Helvetica";
  font-size: 12px;
  color: rgba(0, 0, 0, 0.45);
  border-top: 1px rgb(242, 242, 242) solid;
}

/****** MODAL ********/

#modal,
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#modal,
.modal {
  background: white;
  width: 100px;
  min-width: 400px;
  z-index: 100;
  opacity: 1;
}

#modal > div:nth-child(2) > div,
.modal > div:nth-child(2) > div {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px;
  border-top: 1px rgb(242, 242, 242) solid;
  font-family: "Segoe UI", "Helvetica";
  font-size: 17px;
}

#modal div:nth-child(2) div img,
.modal div:nth-child(2) div img {
  width: 50px;
  margin-left: 18px;
  margin-right: 18px;
}

#modal > div:first-child,
.modal > div:first-child {
  background: #009688;
  padding: 20px;
  color: white;
  font-weight: 600;
  font-size: 18px;
}
#modal button,
.modal button {
  background: #00b2a1;
  color: white;
  padding: 14px;
  border-radius: 8px;
  border: none;
  margin-left: calc(50% - 50px);
  margin-top: 20px;
  margin-bottom: 20px;
}

#modal button:hover,
.modal button:hover {
  background: #006158;
}

#modal button:active,
.modal button:active {
  background: #20aa9c;
}

#modal > div > span:first-child,
.modal > div > span:first-child {
  color: #ecfaf5;
  cursor: pointer;
  margin-right: 20px;
}
#modal > div :nth-child(2),
.modal > div:nth-child(2) {
  height: 300px;
  overflow-y: scroll;
}

#modal > input:last-of-type,
.modal > input:last-of-type {
  border-radius: 40px;
  /* border: none; */
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 14px;
  width: 90%;
  border: 1px gray solid;
  margin-left: 4%;
  height: 32px;
  outline: none;
}

/****** SCROLL BAR ********/
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(131, 197, 177);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Chat message */
.message {
  background: white;

  margin-left: 87px;
  border-radius: 7.5px;
  margin-top: 8px;
  padding-right: 10px;
  max-width: 520px;
  width: fit-content;
}

.message.my {
  background: #dcf8c6;
  margin-left: auto;
  margin-right: 80px;
  border-radius: 7.5px;
  margin-top: 8px;
}

.message div:first-child {
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", Arial,
    Ubuntu, Cantarell, "Fira Sans", sans-serif;
  font-feature-settings: "kern";
  font-size: 12.8px;
  color: #35cd96;
  font-weight: 700;
  padding: 6px;
  padding-bottom: 0;
  width: 100%;
}
.message div:nth-child(2) {
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", Arial,
    Ubuntu, Cantarell, "Fira Sans", sans-serif;
  font-feature-settings: "kern";
  font-size: 14.2px;
  padding: 6px;
  padding-right: 30px;
}

.message div:nth-child(3) {
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", Arial,
    Ubuntu, Cantarell, "Fira Sans", sans-serif;
  font-feature-settings: "kern";
  font-size: 11px;
  color: rgba(0, 0, 0, 0.45);
  width: 98%;
  text-align: right;
  padding: 4px;
  margin-top: -22px;
}
